<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="onsenui/css/onsenui.css">
  <link rel="stylesheet" href="onsenui/css/onsen-css-components.min.css">
  <script src="onsenui/js/onsenui.min.js"></script>
</head>
<body>
  

<ons-splitter var="mySplitter" ng-controller="SplitterController as splitter">
  <ons-splitter-side side="left" width="220px" collapse swipeable>
    <ons-page>
      <ons-list>

        <a href="index.html">
        <ons-list-item ng-mousedown="splitter.load('home1.html')" tappable>
          Home
        </ons-list-item>
        </a>

        <a href="RGB Led Control.html">
        <ons-list-item ng-mousedown="splitter.load('settings.html')" tappable>
          RGB Led Controler
        </ons-list-item>
        </a>

         <ons-list-item ng-click="splitter.load('ledcontrol.html')" tappable>
          Led Conrol
        </ons-list-item>

        <a href="http://home.cloud.acer.com/cpf-edu/tw/view/about.php?lan=en">
        <ons-list-item ng-click="splitter.load('about.html')" tappable>
          About
        </ons-list-item>
       </a>

      </ons-list>
    </ons-page>
  </ons-splitter-side>
  <ons-splitter-content page="home.html"></ons-splitter-content>
</ons-splitter>


<template id="home.html">
  <ons-page>
    <ons-toolbar>

      <div class="left">
        <ons-toolbar-button ng-click="mySplitter.left.open()">
          <ons-icon icon="md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>

      <div class="center">
        Cloud Professor
      </div>
    </ons-toolbar>
    <p style="text-align: center; opacity: 0.6; padding-top: 20px;">
      Swipe right to open the menu!
    </p>
  </ons-page>
</template>
</body>
</html>